@import '../../variables.scss';

.header{
    background-color: $backround-second;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: $font-xl;
    height: 80px;
    width: 100vw;
    padding: 0em 1em;

    .adder{
        background-color: $backround-third;
        color: black;
        width: 270px;
        height: 55px;
        font-size: $font-l;
        border: none;
        border-radius: $border-radius;
        outline: none;
        cursor: pointer;
    }

    .settings{
        cursor: pointer;
    }
}


@include media-m {
    .header{
    .adder{
        width: 100px;
        height: 45px;
    }
}
}

@include media-s{
    .header{
        font-size: $font-l;
        padding: 0em 0.5em;
        .adder{
            font-size: 18px;
            width:auto;
            padding: 10px;
        }
    }
}