@import '../../variables.scss';

.container{
    width:400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    .delate{
        position: absolute;
        top: 1%;
        right: 1%;
        cursor: pointer;
        color: red;
    }

    .select{
        label{
            color: $backround-third;
        }
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .subtasks{
        display: flex;
        flex-direction: column;
        gap: 5px;
    .subtask-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem 1rem;
        justify-content: space-between;
        background-color: $backround-color;
    }
}
    

 
}

