@import '../../variables.scss';

.item{
    animation: appear .4s ease-in-out;
    font-size: $font-l;
    cursor: pointer;
    position: relative;

    .delate{
        position: absolute;
        top: 30%;
        right: 5%;
        cursor: pointer;
    }
    
    .dashboard{
        position: absolute;
        top: 30%;
        left: 5%;
    }
}

.active{
    padding: .75rem;
    transition: 300ms ease-in-out;
    background-color: $backround-third;
    color: black;
    border-radius: $border-radius;
}

@keyframes appear {
    from{
        transform: translateX(-80%);
    }
    to{
        transform: translateX(0%);
    }
    
}