@import "../../variables.scss";

.list {
  animation: appear 0.5s ease-in-out;
  background-color: $backround-second;
  height: calc(100vh - 80px);
  width: 250px;
  padding: 50px 10px 0px 10px;
  text-align: center;
  font-size: $font-l;
  color: $backround-third;

  ul {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@keyframes appear {
  0% {
    transform: translateX(-75%);
  }

  75% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}
